        

        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="/dashboard">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/today-dashboard">
                                <i class="fas fa-tachometer-alt"></i>Today Dashboard
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/add-visit-data">
                                <i class="fas fa-tachometer-alt"></i>Add Visit Data
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Enquiry</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/add-enquiry"><i class="fas fa-comment"></i>New Enquiry</a>
                                </li>
                                <li>
                                    <a href="/show-enquiry"><i class="fas fa-eye"></i>See Enquiry</a>
                                </li>
                                <li>
                                    <a href="/show-enquiry-followup"><i class="fas fa-eye"></i>See Enquiry Followup</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Order</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/see-order"><i class="fas fa-comment"></i>All Order</a>
                                </li>
                                <li>
                                    <a href="/order-entry"><i class="fas fa-eye"></i>Order Booking</a>
                                </li>
                                <li>
                                    <a href="/book-order"><i class="fas fa-eye"></i>Book Order Confirm</a>
                                </li>
                                <li>
                                    <a href="/pending-order"><i class="fas fa-eye"></i>Final Order Confirm</a>
                                </li>
                                <li>
                                    <a href="/fabricate-item"><i class="fas fa-eye"></i>Fabricate Item</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Stock</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/see-stock"><i class="fas fa-comment"></i>All Stock</a>
                                </li>
                                <li>
                                    <a href="/see-godown-one-stock"><i class="fas fa-comment"></i>Godown-1 Stock</a>
                                </li>
                                <li>
                                    <a href="/see-godown-two-stock"><i class="fas fa-comment"></i>Godown-2 Stock</a>
                                </li>
                                
                                <li>
                                    <a href="/purchase-stock"><i class="fas fa-eye"></i>Purchase Stock</a>
                                </li>
                                <li>
                                    <a href="/receive-purchase-stock"><i class="fas fa-eye"></i>Receive Stock</a>
                                </li>
                                <li>
                                    <a href="/confirm-purchase-stock"><i class="fas fa-eye"></i>Confirm Purchase Stock</a>
                                </li>
                                <li>
                                    <a href="/godown-transfer"><i class="fas fa-eye"></i>Godown Trasnfer</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Purchase Party</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/add-purchase-party"><i class="fas fa-comment"></i>Add Purchase Party</a>
                                </li>
                                <li>
                                    <a href="/see-purchase-party"><i class="fas fa-eye"></i>See Purchase Party</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>User</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/user"><i class="fas fa-comment"></i>All User</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Attendance</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/complete-attendance"><i class="fas fa-comment"></i>Complete Attendance</a>
                                </li>
                                <li>
                                    <a href="/see-attendance"><i class="fas fa-comment"></i>See Attendance</a>
                                </li>
                                <li>
                                    <a href="/today-attendance"><i class="fas fa-comment"></i>Today Attendance</a>
                                </li>
                                <li>
                                    <a href="/add-out-time-attendance"><i class="fas fa-comment"></i>Add Out Time</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Setting</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/item-group"><i class="fas fa-comment"></i>Item Group</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="/dashboard">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/today-dashboard">
                                <i class="fas fa-tachometer-alt"></i>Today Dashboard
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Enquiry</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <% if ( username.newEnquiryRole  == 1 ){ %>
                                    <li>
                                        <a href="/add-enquiry"><i class="fas fa-comment"></i>New Enquiry</a>
                                    </li>
                                <% } if ( username.seeAllEnquiryRole  == 1 ){ %>
                                    <li>
                                        <a href="/show-enquiry"><i class="fas fa-eye"></i>See Enquiry</a>
                                    </li>
                                <% } %>
                                <li>
                                    <a href="/show-debtor"><i class="fas fa-eye"></i>Debtor List</a>
                                </li>
                                    <li>
                                        <a href="/show-enquiry-followup"><i class="fas fa-eye"></i>See Enquiry Followup</a>
                                    </li>
                            </ul>
                        </li>
                        
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Courier</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/view-courier"><i class="fas fa-comment"></i>View Courier</a>
                                </li>

                                <% if ( username.requestCourierRole  == 1 ){ %>
                                <li>
                                    <a href="/request-courier"><i class="fas fa-comment"></i>Request Courier</a>
                                </li>
                                <% } if ( username.requestedCourierRole  == 1 ){ %>
                                <li>
                                    <a href="/requested-courier"><i class="fas fa-comment"></i>Requested Courier</a>
                                </li>

                                <% } if ( username.sendCourierRole  == 1 ){ %>
                                <li>
                                    <a href="/send-courier"><i class="fas fa-comment"></i>Send Courier</a>
                                </li>
                                <% } if ( username.recieveCourierRole  == 1 ){ %>
                                <li>
                                    <a href="/recieve-courier"><i class="fas fa-comment"></i>Recieve Courier</a>
                                </li>
                                <% }%>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Cash Entry</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/salary-advance"><i class="fas fa-comment"></i>Salary-Advance</a>
                                </li>
                                <li>
                                    <a href="/contra"><i class="fas fa-eye"></i>Contra</a>
                                </li>
                                <li>
                                    <a href="/expense"><i class="fas fa-eye"></i>Expense</a>
                                </li>
                                <li>
                                    <a href="/loan"><i class="fas fa-eye"></i>Loan</a>
                                </li>
                                <li>
                                    <a href="/purchase-cash-entry"><i class="fas fa-eye"></i>Purchase Cash Entry</a>
                                </li>
                                <li>
                                    <a href="/sale-cash-entry"><i class="fas fa-eye"></i>Sale Cash Entry</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Order</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">

                                <% if ( username.allOrderRole  == 1 ){ %>
                                    <li>
                                        <a href="/see-order"><i class="fas fa-comment"></i>All Order</a>
                                    </li>
                                <% } %>
                                
                                <li>
                                    <a href="/order-entry"><i class="fas fa-eye"></i>Order Booking</a>
                                </li>

                                <% if ( username.bookOrderConfirmRole  == 1 ){ %>
                                <li>
                                    <a href="/book-order"><i class="fas fa-eye"></i>Book Order Confirm</a>
                                </li>

                                <% } if ( username.finalOrderConfirmRole  == 1 ){ %>
                                <li>
                                    <a href="/pending-order"><i class="fas fa-eye"></i>Final Order Confirm</a>
                                </li>

                                <% } if ( username.misReportRole  == 1 ){ %>
                                <li>
                                    <a href="/mis-order-report"><i class="fas fa-eye"></i>MIS Report</a>
                                </li>
                                <% } if ( username.createSaleBillRole  == 1 ){ %>
                                <li>
                                    <a href="/create-sale-bill-page"><i class="fas fa-eye"></i>Create Sale Bill</a>
                                </li>
                                <% } if ( username.seeSaleBillRole  == 1 ){ %>
                                <li>
                                    <a href="/see-sale-bill"><i class="fas fa-eye"></i>See Sale Bill</a>
                                </li>
                                <% } if ( username.fabricateStockRole  == 1 ){ %>
                                <li>
                                    <a href="/fabricate-stock"><i class="fas fa-eye"></i>Fabricate Stock</a>
                                </li>
                                <% }%>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Stock</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">

                                <% if ( username.seeAllStockRole  == 1 ){ %>
                                <li>
                                    <a href="/see-stock"><i class="fas fa-comment"></i>All Stock</a>
                                </li>
                                <% } if ( username.godownOneStockRole  == 1 ){ %>
                                <li>
                                    <a href="/see-godown-one-stock"><i class="fas fa-comment"></i>Godown-1 Stock</a>
                                </li>
                                <% }%>

                                <li>
                                    <a href="/see-godown-two-stock"><i class="fas fa-comment"></i>Godown-2 Stock</a>
                                </li>

                                <% if ( username.godownThreeStockRole  == 1 ){ %>
                                <li>
                                    <a href="/see-godown-three-stock"><i class="fas fa-comment"></i>Godown-3 Stock</a>
                                </li>

                                <% } if ( username.godownTransferRole  == 1 ){ %>
                                
                                <li>
                                    <a href="/godown-transfer"><i class="fas fa-eye"></i>Godown Trasnfer</a>
                                </li>

                                <% } if ( username.physicalStockRole  == 1 ){ %>
                                <li>
                                    <a href="/physical-stock"><i class="fas fa-eye"></i>Physical Stock</a>
                                </li>

                                <% } if ( username.tallyStockRole  == 1 ){ %>
                                <li>
                                    <a href="/tally-stock"><i class="fas fa-eye"></i>Tally Stock</a>
                                </li>
                                <% } %>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Purchase</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/purchase-booking"><i class="fas fa-eye"></i>Purchase Booking</a>
                                </li>
                                <li>
                                    <a href="/purchase-group"><i class="fas fa-eye"></i>Purchase Group</a>
                                </li>

                                <% if ( username.purchaseStockRole  == 1 ){ %>
                                <li>
                                    <a href="/purchase-stock"><i class="fas fa-eye"></i>Purchase Stock</a>
                                </li>
                                <% } if ( username.recieveStockRole  == 1 ){ %>
                                <li>
                                    <a href="/receive-purchase-stock"><i class="fas fa-eye"></i>Receive Stock</a>
                                </li>
                                <% } %>
                                <li>
                                    <a href="/confirm-purchase-stock"><i class="fas fa-eye"></i>Confirm Purchase Stock</a>
                                </li>
                                <li>
                                    <a href="/add-purchase-party"><i class="fas fa-comment"></i>Add Purchase Party</a>
                                </li>
                                <li>
                                    <a href="/see-purchase-party"><i class="fas fa-eye"></i>See Purchase Party</a>
                                </li>
                            </ul>
                        </li>
                        <% if ( username.seeUserRole  == 1 ){ %>    
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-comments"></i>User</a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                    <li>
                                        <a href="/user"><i class="fas fa-comment"></i>All User</a>
                                    </li>
                                </ul>
                            </li>
                        <% }%>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Attendance</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/complete-attendance"><i class="fas fa-comment"></i>Complete Attendance</a>
                                </li>
                                <li>
                                    <a href="/see-attendance"><i class="fas fa-comment"></i>See Attendance</a>
                                </li>
                                <li>
                                    <a href="/today-attendance"><i class="fas fa-comment"></i>Today Attendance</a>
                                </li>
                                <li>
                                    <a href="/add-out-time-attendance"><i class="fas fa-comment"></i>Add Out Time</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Petrol Reading</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/start-petrol-reading"><i class="fas fa-comment"></i>Add Start Petrol Reading</a>
                                </li>
                                <li>
                                    <a href="/last-petrol-reading"><i class="fas fa-comment"></i>Add Last Petrol Reading</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Setting</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/item-group"><i class="fas fa-comment"></i>Item</a>
                                </li>
                                <li>
                                    <a href="/colour"><i class="fas fa-comment"></i>Colour</a>
                                </li>
                                <li>
                                    <a href="/size"><i class="fas fa-comment"></i>Size</a>
                                </li>
                                <li>
                                    <a href="/cash-bank-book"><i class="fas fa-comment"></i>Cash/Bank Book</a>
                                </li>
                                <li>
                                    <a href="/expense-list"><i class="fas fa-comment"></i>Expense List</a>
                                </li>
                                <li>
                                    <a href="/loan-list"><i class="fas fa-comment"></i>Loan List</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
