<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cash/Bank Book</title>
    <!-- Required meta tags-->
    <%- include("../include/headLink")%>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <%- include("../include/navbar") %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%- include("../include/header") %>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">data table</h3>
                                <div class="table-data__tool">
                             
                                  <div class="table-data__tool-right">
                                    <button class="au-btn-primary" data-toggle="modal" data-target="#addCashBank">
                                        <i class="zmdi zmdi-plus-square"></i>Add Cash/Bank
                                    </button>
                                  </div>
                                </div>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data3">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Cash/Bank</th>
                                                <th>About</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Add Branch Model -->

    <div id="addCashBank" class="modal fade">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h1 class="modal-title" style="text-align: center;">Add Cash/Bank</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modal-body">
                  <form id="cashBankForm">
                     <div class="form-group">
                        <label>Cash/Bank Book</label>
                        <input type="text" class="form-control" name="cashBankBook" placeholder="Enter Cash Bank Book Name">
                     </div>
                     <div class="form-group">
                        <label>About</label>
                        <input type="text" class="form-control" name="about" placeholder="Enter Cash Bank Book Detail">
                     </div>
                     <input type="submit" value="Insert" class="btn btn-success" />  
                  </form>
               </div>
               <div class="modal-footer">    
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
               </div>
            </div>
         </div>
    </div>

    <div id="editBranch" class="modal fade">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h1 class="modal-title" style="text-align: center;">Edit Branch</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modal-body">
                  <form id="editBranchForm">
                     <div class="form-group">
                        <label>Branch Name</label>
                        <input type="text" class="form-control" id="edBranch" name="branch" placeholder="Enter Branch Name">
                     </div>
                     <div class="form-group">
                        <label>Branch Description</label>
                        <input type="text" class="form-control" name="branchDescription" id="edBranchDescription" placeholder="Enter Branch Description">
                     </div>
                     <input type="submit" value="Insert" class="btn btn-success" />  
                  </form>
               </div>
               <div class="modal-footer">    
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
               </div>
            </div>
         </div>
    </div>

    <!-- Jquery JS-->
    <%- include("../include/jsLink")%>

    <script>
        $(document).ready(function(){  
            var cashBankBookData = "";
            
            function allCashBankBook(data, index) {


               cashBankBookData += '<tr class="tr-shadow">';
               cashBankBookData += '<td>'+(index +1)+'</td>'
               cashBankBookData += '<td>'+data.name+'</td>';
               cashBankBookData += '<td>'+data.about+'</td>';

               // cashBankBookData += '<td><div class="table-data-feature"><button class="item editBranch" data-id="'+data._id+'" data-colourname="'+data.colourName+'"  data-toggle="tooltip" data-placement="top" title="Edit Colour Name"><i class="zmdi zmdi-edit"></i></button></div></td>'
               cashBankBookData += '</tr>';

            }

                var modelData = "";

                cashBankList();
                
                function cashBankList() {

                  $.ajax({  
                    url:'/all-cash-bank-book',  
                    method:'get',  
                    dataType:'json', 
                    success:function(response){
                       // console.log(response);  
                       if(response.msg=='success'){   
                          
                          response.cashBankBook.forEach((data, index) =>{
                             allCashBankBook(data, index);
                           });
                          $('tbody').html(cashBankBookData);
                         }
                      }
                  })
                }

                // Submit Branch Data
                $('#cashBankForm').on("submit", function(event){
                   event.preventDefault();
                   $.ajax({
                      url:'/create-cash-bank-book',  
                      method:'POST',  
                      data:$('#cashBankForm').serialize(),
                      success:function(response){  
                         if(response.msg=='success'){

                           cashBankBookData = "";
                           cashBankList();
                           $('#cashBankForm')[0].reset();  
                           $('#addCashBank').modal('hide');                   
                         }
                      }
                   });
                });

                //Model for Edit Data
          $(document).on('click', '.editBranch', function(){  
            var edBranchId = $(this).data("id");  
            var edBranch = $(this).data("branch");  
            var edBranchDescription = $(this).data("branchdescription");
            $('#editBranch').modal('show');
            
            $('#edBranch').val(edBranch);
            $('#edBranchDescription').val(edBranchDescription);

              $('#editBranchForm').on("submit", function(event){
                event.preventDefault();
                $.ajax({
                  url:'/update-branch-data/'+edBranchId,  
                  method:'POST',  
                  data:$('#editBranchForm').serialize(),
                  success:function(editResponse){  
                    if(editResponse.msg=='success'){
                      alert('Data Update');   
                      $('#editBranchForm')[0].reset();  
                      $('#editBranch').modal('hide');                   
                    }
                  }
                });
              });
          });

        });

    </script>

</body>

</html>
<!-- end document-->
